.extraPopup {
	width:900px !important;
}
.extraPopupContent {
	padding: 60px !important;
}
.colorPreview {
	border: 3px gray solid;
	padding: 2px;
	width: 32px;
	height: 32px;
	margin-left:auto;

	background-color: #FFF;
}

.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.underlined {
	text-decoration: underline;
}
.strikethrough {
	text-decoration: line-through;
}
.strikethroughunderlined {
	text-decoration: underline line-through;
}
#nicelookingoutput {
	max-height: 200px;
	height:200px;
	overflow-y: scroll;
}
.card {
	color: black;
}
.modal {
	color: black;
}
.no-focus-outline:focus {
	outline: none;
}
@font-face {
	font-family: 'minecraftiaregular';
	src: url('../fonts/minecraftia/minecraftia-webfont.eot');
	src: url('../fonts/minecraftia/minecraftia-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/minecraftia/minecraftia-webfont.woff') format('woff'),
	url('../fonts/minecraftia/minecraftia-webfont.ttf') format('truetype'),
	url('../fonts/minecraftia/minecraftia-webfont.svg#minecraftiaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
#jsonPreview {
	font-family: "minecraftiaregular","Minecraftia","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
}

#exportText {
	resize: none;
	border-style: none;
	border-color: Transparent;
	outline:none;
	overflow: auto;
	width: 100%;
	height: 100%;
	background-color: Transparent;
}

div.popover {
	font-family: "Menlo",monospace;
	font-size: 12px;
	color: black;
}
h3.popover-title {
	font-size: 12px;
}
.container {
	min-height:100%;
	position:relative;
	margin-top:20px;
}
.black-theme {
	background-color: #222;
	color: white;
}
.sweet-alert {
	color: black;
}
.black-theme .card {
	color: black;
}

.help-box {
	min-width: 150px;
	position: absolute;
	z-index: 999;
	color: black;
	display: none;
	font-weight: bold;
	text-align: center;
	padding:5px;
	margin-top: 5px;
	background-color:#feed6f;
	border-radius:4px;
	box-shadow: 0px 0px 10px #888888;
}
.offset-down-button {
	top: 34px;
}
.offset-up-button {
	bottom: 39px;
}

.mover-row {
	line-height: 44px;
}

/** {*/
/*  -webkit-border-radius: 0 !important;*/
/*     -moz-border-radius: 0 !important;*/
/*          border-radius: 0 !important;*/
/*}*/
/*.btn {*/
/*	border-width: 1px;*/
/*	border-color: black;*/
/*}*/
/*.btn:active {*/
/*	box-shadow: none;*/
/*}*/
/*.btn.active {*/
/*	box-shadow: none;*/
/*	border-width: 1px;*/
/*	border-color: black;*/
/*}/**/


/*Issue Buttons*/
.black-theme .issue-button {
	border-color: white;
}
.issue-button {
	background-color: transparent;
	border-color: black;
	border-style: solid;
	border-radius: 5px;
	height: 100px;
	width: 150px;
}
.issue-button:hover {
	border-color: #3AB0D3;
}
.issue-button:hover::after {
	position: absolute;
	bottom: -100px;
	left: -10px;
	width: 200px;
}

#jsonPreview {
	padding: 20px;
}

#jsonPreview.bookPreview {
	color: black;
	padding-top: 60px;
	padding-left: 30px;
	padding-right: 70px;
	max-width: 292px;
	height: 360px;
	background-image: url(../page-images/book.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-color: transparent !important;
	border: none !important;
	/*word-break: break-word;*/
	white-space: pre-wrap;
}
#previewBack {
	background-image: url(../page-images/back.png);
	height: 20px;
	width: 36px;
	background-size: 100%;
	background-color: transparent;
	border: none;

	position: absolute;
	top: 25px;
	left: 45px;
}
#previewBack:hover {
	background-image: url(../page-images/back_hover.png);
}
#previewForwards {
	background-image: url(../page-images/forwards.png);
	height: 20px;
	width: 36px;
	background-size: 100%;
	background-color: transparent;
	border: none;

	position: absolute;
	top: 25px;
	left: 86px;
}
#previewForwards:hover {
	background-image: url(../page-images/forwards_hover.png);
}
#previewPage {
	position: absolute;
	top: 25px;
	left: 131px;
	color: black;
}
#snippet-container {
	list-style-type:none;
}

.drag-handle {
	cursor: move;
}

.snippet-manipulation-area {
	display: flex;
	justify-content: space-around;
}

#header_row {
	display:flex;
	flex-direction: column;
}

@media only screen and (min-width: 650px) {
	#header_row {
		flex-direction: row;
		margin: 0 -5px;
	}

	#header_row > .header_row_item {
		margin: 0 5px;
	}
}

@media only screen and (max-width: 649px) {
	#header_row > div.header_row_item {
		display: flex;
		flex-direction: row-reverse;
	}
}

#main_page_header_text {
	flex-grow: 1;
}

#helptoggle {

}

#main_report_issue {

}

.templateButton {
	margin-right: 5px;
}

.row-margin-top {
	margin-top: 10px;
}

.row-margin-bottom {
	margin-bottom: 10px;
}

.row-margin {
	margin-top: 10px;
	margin-bottom: 10px;
}