.extraPopup {
	width:900px !important;
}
.extraPopupContent {
	padding: 60px !important;
}
.colorPreview {
	border: 3px gray solid;
	padding: 2px;
	width: 32px;
	height: 32px;
	margin-left:auto;
}
.colorPreviewColor {
	border-radius: 4px;
	background-color:#FFFFFF;
	height:100%;
	width:100%;
}
.bold {
	font-weight: bold;
}
.italic {
	font-style: italic;
}
.underlined {
	text-decoration: underline;
}
.strikethrough {
	text-decoration: line-through;
}
.strikethroughunderlined {
	text-decoration: underline line-through;
}
#nicelookingoutput {
	max-height: 200px;
	height:200px;
	overflow-y: scroll;
}
.well {
	color: black;
}
.modal {
	color: black;
}
@font-face {
	font-family: 'minecraftiaregular';
	src: url('../minecraftia/minecraftia-webfont.eot');
	src: url('../minecraftia/minecraftia-webfont.eot?#iefix') format('embedded-opentype'),
	url('../minecraftia/minecraftia-webfont.woff') format('woff'),
	url('../minecraftia/minecraftia-webfont.ttf') format('truetype'),
	url('../minecraftia/minecraftia-webfont.svg#minecraftiaregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
#jsonPreview {
	font-family: "minecraftiaregular","Minecraftia","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 16px;
}
div.popover {
	font-family: "Menlo",monospace;
	font-size: 12px;
	color: black;
}
h3.popover-title {
	font-size: 12px;
}
div[class*='col-lg-'] {
	margin-bottom: 5px;
	margin-top: 5px;
}
div[class*='col-md-'] {
	margin-bottom: 5px;
	margin-top: 5px;
}
div[class*='col-sm-'] {
	margin-bottom: 5px;
	margin-top: 5px;
}
div[class*='col-xs-'] {
	margin-bottom: 5px;
	margin-top: 5px;
}
.container {
	min-height:100%;
	position:relative;
	margin-top:20px;
}
.black-theme {
	background-color: #222;
	color: white;
}
.black-theme .well {
	color: black;
}

.help-box {
	min-width: 150px;
	position: absolute;
	z-index: 999;
	color: black;
	display: none;
	font-weight: bold;
	text-align: center;
	padding:5px;
	margin-top: 5px;
	background-color:#feed6f;
	border-radius:4px;
	box-shadow: 0px 0px 10px #888888;
}
.offset-down-button {
	top: 34px;
}
.offset-up-button {
	bottom: 39px;
}

* {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}
.btn {
	border-width: 1px;
	border-color: black;
}
.btn:active {
	box-shadow: none;
}
.btn.active {
	box-shadow: none;
	border-width: 1px;
	border-color: black;
}