@import "~bootstrap/scss/bootstrap";

/* Text and background color for light mode */
body {
  color: #333;
}

/* Text and background color for dark mode */
@media (prefers-color-scheme: dark) {
  body {
    color: #ddd;
    background-color: #222;
  }
}

.margin-below {
  margin-bottom: 5px;
}