@import "~bootstrap/scss/bootstrap";

/* Text and background color for light mode */
body {
  color: #333;
}

/* Text and background color for dark mode */
@media (prefers-color-scheme: dark) {
  body {
    color: #ddd;
    background-color: #222;
  }
}

.margin-below {
  margin-bottom: 5px;
}

.inline-snippet-collection {
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
  padding: 15px;
  border-color: grey;
}

.bordered-formatter-preview {
  border-style: dashed;
  border-width: 3px;
  border-radius: 3px;
  padding: 5px;
  border-color: $info;
}