body {
	color: #dddddd;
	background-color: #222222;
}

.book-preview {
	padding-top: 60px;
	padding-left: 30px;
	padding-right: 70px;
	padding-bottom: 20px;
	width: 292px;
	height: 360px;
	background-image: url(../images/book.png);
	background-size: 100%;
	background-color: transparent !important;
	background-repeat: no-repeat;
	border: none !important;
	word-break: break-word;
	/* white-space: pre; */
}

.mcj-format-option {
	border-color: white;
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;

	background-color: transparent;

	text-align: center;

	cursor: pointer;
	transition-duration: 0.4s;
}

.mcj-format-option:hover {
	background-color: white;
	color: black;
}

.mcj-format-option.active {
	background-color: white;
	color: black;
}
